@font-face {
	font-family: 'Amiko';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/amiko/Amiko-Regular.ttf") format('truetype');}

	
body {
	color: #E5A508;
	background: #413f3b;
	font-family: 'Amiko';	
	margin: 0 auto;}


footer {
   position:relative;
   bottom:0;
   width:100%;
   font-size: 13px;
   padding: 5px;
   color: #000000;
   background:#c2c2d6;}
   
/*
a.ico:before {
	content:"";
	display:block;
	display:block;
	height: 100px;
	width: 200px;
	padding-left: 30px;
    background: url("../images/email.png") no-repeat;
    background-repeat: no-repeat;	
}*/
	
li {
	display: inline;
	padding: 0.5em;}

	
li a:hover {
    background-color: #555;
    color: white;
   
   
#content {
	overflow: auto;}

	
.columns p {
	text-align: justify;
    text-justify: inter-word;
	width: 31.3%;
	float: left;
	margin: 1%;}
	
.columns h4 {
	text-align: center;}

.address > * {
    vertical-align :middle;}
	
.address.img {
	width = 30px;
	height = 30px;}