@font-face {
	font-family: 'Amiko';
	src: url("../fonts/amiko/Amiko-Regular.ttf") format('truetype');}
	
header {
	display: inline-block;
	vertical-align: middle;}
	
body {
	font-size: 18px;
	font-weight: normal;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	color: #665544;
	background-color: white;}

li {
	display: inline;
	padding: 0.5em;}
	
.columns{
	float:left;
    text-justify: inter-word;
	width: 98%;
	padding: 0%;
	margin: 2%;}
	
.column1{
	float: left;
	width: 28%;
	padding: 1%;
	margin: 1%;
	text-align: justify;
	background-color: #ffff66;
	border-style: solid;
	border-width: 5px;}

.column2{
	float: left;
	width: 28%;
	padding: 1%;
	margin: 1%;
	text-align: justify;
	background-color: #ffff66;
	border-style: solid;
	border-width: 5px;}
	
.column3{
	float: left;
	width: 28%;
	padding: 1%;
	margin: 1%;
	text-align: justify;
	background-color: #ffff66;
	border-style: solid;
	border-width: 5px;}
	
.columns h3 {
	color: #E5A508;
	text-align: center;}
	
footer {
   position: absolute;
   bottom: 0;
   width: 96%;
   height: 40px;
   padding: 2%;
   margin: 0%;
   font-size: 15px;
   font-weight: bold;
   color: white;
   background: black;}
   
footer .footerBlock {
	display: inline;
	vertical-align: middle;}

footer .footerBlock .footerRightBlock {
	float: right;}

footer .footerBlock .footerLeftBlock {
	float: left;}

footer .footerBlock a #footerImg {
	height: 50px;
	width: 50px;
	margin-left: 1%;
	vertical-align: middle;}
	